body {
    background-color: White;
  }
  h1 {
    color: black;
  }
header{
    background-color: black;
}
.header{
    background-color: black;
    color: white;
    padding-left: 30px;
}
.flex-container{
    display: flex;
    margin: 0 50px 50px 0;
    height: 30%;
    width: 100%;
    justify-content: center;

}
.item{
    background-color: lightgray;
    flex-grow: 1;
    border-radius: 15px;
    margin: 0 55px;
    width: 20%;
}
#bank{
    text-align: center;
}

.work-button-div{
    display: flex;
    justify-content: center;
    margin-top: 75px;
}
.work-button{
    flex-grow: 1;
    block-size: auto;
    height: 50px;
    margin: 0 20px 0 20px;
    border-radius: 15px;
}
.flex-container2{
    background-color: lightgray;
    border-radius: 15px;
    display: flex;
    margin: 0 100px 100px 0;
    height: 30%;
    width: 100%;
    justify-content: center;
}
.item2{
    flex-grow: 1;
    margin: 0 40px;
}
#buy-now-button {
    width: 200px;
    height: 75px;
    border-radius: 15px;
    font-size: 20px;
    background-color: lightblue;
}
#loan-now-button {
    
    margin: 40px 0 20px 0;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    font-size: 20px;
    background-color: lightgreen;
}
#price{
    text-align: center;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
